*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Setting 1rem to be equal 10px */
 font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Candara', 'Segoe UI', 'Roboto', sans-serif;
  color: white;
}

/* ===== Variables ===== */
:root {
  --green: #2ac56c;
  --red: #eb483f;
}
