.btn {
  border: 2px solid #fff;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold;
  background: transparent;
  color: #fff;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.btn:not([disabled]):hover {
  cursor: pointer;
  color: var(--green);
  background: #fff;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .4;
}
