.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 5rem;
  background-color: var(--green);
}

.contact-form__title {
  font-size: 4rem;
  margin-bottom: 5rem;
}

.contact-form__label {
  font-size: 2rem;
}

.contact-form__submit-btn {
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .contact-form {
    width: 100%;
  }
}
