.form-input__container {
  margin: 1rem 0 1rem 0;
  width: 50%;
  max-width: 45rem;
}

.form-input {
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 1.2rem;
  padding: 2rem;
  font-size: 2rem;
}

.form-input.error {
  border: 2px solid var(--red);
}

.form-input__error-message {
  color: var(--red);
  font-size: 1.6rem;
  height: 2.5rem;
}

.form-input[type="checkbox"] {
  height: 3rem;
}

@media (max-width: 800px) {
  .form-input__container {
    width: 100%;
  }
}
